body {
    background-color: coral;
    margin-top: 15em;
    color: cornsilk;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  